# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Huffmanpartb/main.cpp
Huffmanpartb/Huffmanpartb.cbp
Huffman Coding/main.cpp
Huffman Coding/bin/Debug/Huffman Coding.exe
Huffman Coding/train.txt
Huffmanpartb/Huffmanpartb.layout
Huffman Coding/obj/Debug/main.o
Huffman Coding/PartA.py
Huffman Coding/Huffman Coding.layout
Huffman Coding/Output_HuffmanCoding.txt
Huffman Coding/Output_Pseudo_Minimal_Coloring.txt
Huffman Coding/SamMcGee.txt
Huffman Coding/Huffman Coding.cbp
